---
---
<div class="article-wrapper">
  <slot />
</div>

<style>
  .article-wrapper {
    width: 55%;
    padding: 2rem 5% 2rem 0;
    margin-left: 12.5%;
    position: relative;
    color: var(--text-color);
  }

  .article-wrapper :global(h1) {
    font-size: 4rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 4rem;
    line-height: 1;
    color: var(--text-color);
  }

  .article-wrapper :global(h2) {
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: var(--text-color);
  }

  .article-wrapper :global(p) {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2;
    color: var(--text-color);
  }

  .article-wrapper :global(ul) {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .article-wrapper :global(li) {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    font-size: 1.4rem;
  }

  .article-wrapper :global(a) {
    color: var(--accent-color);
    font-weight: normal;
  }

  .article-wrapper :global(a:hover) {
    color: var(--link-color);
  }

  @media (max-width: 760px) {
    .article-wrapper {
      width: 100%;
      margin-left: 0;
      padding: 1rem;
    }
    
    .article-wrapper :global(h1) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }
</style> 